
  
  #grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Asegura que los libros estén distribuidos uniformemente */
}
  
.book-item {
    display: flex;
    flex-direction: column; /* Cambia la dirección de los flex-items a columna */
    align-items: center; /* Centra los items horizontalmente */
    margin: 15px; /* Espaciado entre los libros */
    padding: 0; /* Elimina el padding para que no afecte el tamaño */
    flex: 0 0 calc(33.33% - 30px); /* Esto hace que cada libro ocupe un 33.33% del contenedor */
    box-sizing: border-box; /* Incluye el padding y el border en el tamaño total */
}
  .book-item:after {
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    width: calc(100% - 105px);
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 0 0 0 transparent;
    background-color: rgba(255, 255, 255, 0);
    z-index: -1;
    transition: all 250ms ease-out;
  }
  .book-item:hover:after {
    /*box-shadow: 0px 1px 1px 1px rgba(210, 214, 213, 0.5);*/
    background-color: #fff;
  }
  .book-item:hover .item-img img {
    /*box-shadow: 0px 0px 10px 0px rgba(49, 49, 49, 0.25);*/
  }
  .book-item:hover a.button {
    background-color: #219e9a;
  }
  .book-item:hover .bk-bookdefault {
    transform: rotate3d(0, 1, 0, 25deg);
  }
  .book-item:hover .bk-back {
    opacity: 1;
  }
  .book-item .item-img {
    display: inline-block;
    float: left;
    padding-right: 30px;
  }
  .book-item .item-img img {
    box-shadow: 0 0 0 0 transparent;
    transition: all 250ms ease-out;
  }
  .book-item .item-details {
    padding-right: 30px;
  }
  .book-item h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .book-item p:not(.author) {
    display: block;
    display: -webkit-box;
    height: 63px;
    /* Fallback for non-webkit */
    font-size: 15px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /*
   *  Book Rotate
  */
  .bk-img {
    margin-bottom: 10px; /* Agrega espacio entre la imagen y la información */
}
  .bk-img .bk-wrapper {
    position: relative;
    width: 150px;
    height: 215px;
    float: left;
    z-index: 1;
    perspective: 1400px;
  }
  .bk-img .bk-wrapper:last-child {
    margin-right: 0;
  }
  .bk-img .bk-book {
    position: absolute;
    width: 100%;
    height: 215px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  .bk-img .bk-book > div,
  .bk-img .bk-front > div {
    display: block;
    position: absolute;
  }
  .bk-img .bk-front {
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transition: transform 0.5s;
    transform: translate3d(0, 0, 20px);
    z-index: 10;
  }
  .bk-img .bk-front > div {
    z-index: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 0 3px 3px 0;
    box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
  }
  .bk-img .bk-front:after {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: -1px;
    width: 1px;
  }
  .bk-img .bk-front,
  .bk-img .bk-back,
  .bk-img .bk-front > div {
    width: 150px;
    height: 215px;
  }
  .bk-img .bk-left,
  .bk-img .bk-right {
    width: 40px;
    left: -20px;
  }
  .bk-img .bk-back {
    transform: rotate3d(0, 1, 0, -180deg) translate3d(0, 0, 20px);
    box-shadow: 5px 7px 15px rgba(0, 0, 0, 0.3);
    border-radius: 3px 0 0 3px;
    opacity: 0;
    transition: opacity 250ms ease-out;
  }
  .bk-img .bk-back:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
  }
  .bk-img .bk-left {
    height: 215px;
    transform: rotate3d(0, 1, 0, -90deg);
  }
  .bk-img .bk-left h2 {
    width: 215px;
    height: 40px;
    transform-origin: 0 0;
    transform: rotate(90deg) translateY(-40px);
  }
  .bk-img .bk-cover {
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir el área del contenedor */
  }
  .bk-img .bk-cover:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 3px;
    background: rgba(0, 0, 0, 0.06);
    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
  }
  .bk-img .bk-cover {
    background-repeat: no-repeat;
    background-position: top left !important;
  }
  .bk-img .bk-front > div,
  .bk-img .bk-left {
    background-color: black;
  }
  
  /*
   *  Lightbox
  */
  

  @media (max-width: 768px) {
    .book-item {
        width: calc(50% - 30px); /* 2 libros en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .book-item {
        width: calc(100% - 30px); /* 1 libro en pantallas muy pequeñas */
    }
}
